<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	
	<h1>정보 저장 결과 페이지</h1>
	<label>이름 : <input type="text" id="nameInput"></label><br>
	<label>생년월일 : <input type="text" id="birthdayInput" placeholder="ex)20020101"></label><br>
	<label>이메일 : <input type="text" id="emailInput"></label><br>
	<textarea rows="10" cols="30" placeholder="자기소개" id="introduceInput"></textarea>
	<button type="button" id="inputBtn">저장</button>
	
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script>
	$(function(){
		$("#inputBtn").on("click", function(){
			let name = $("#nameInput").val();
			let birthday = $("#birthdayInput").val();
			let email = $("#emailInput").val();
			let introduce = $("#introduceInput").val();
			
			if(name == ""){
				alert("이름을 입력하세요");
				return;
			}
			
			if(birthday == ""){
				alert("생년월일을 입력하세요");
				return;
			}
			
			if(email == ""){
				alert("이메일을 입력하세요");
				return;
			} 
			
			if(introduce == ""){
				alert("자기소개를 입력하세요");
				return;
			}
			
			$.ajax({
				type:"post"
				, url:"/ajax/user/create"
				, data: {"name":name, "birthday":birthday, "email":email, "introduce":introduce}
				, success: function(response){
					if(response.result == "success"){
						alert("성공");
					} else{
						alert("사용자 추가 실패");
					}
				}
				, error: function(){
					alert("사용자 추가 오류");
				}
			})
		})	
	})
	
</script>
</body>
</html>